$font-jua:'jua', sans-serif;
@mixin flex-row {
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
}
header {
    background:linear-gradient(90deg,rgba(255,255,255,0.5), transparent);
    height:100px;
    width:100%;
    padding:0 15px;
    @include flex-row;
    position:fixed; left:0; top:0;
    z-index:9999;
    h1 {
        width:150px;
        a {
            img {
                width:100%;
            }
        }
    }
    .right {
        @include flex-row;
        .app {
            font-family:$font-jua;
            border:3px solid #fff;
            border-radius:20px;
            padding:15px 25px;
            color:#fff;
            margin-right:20px;
        }
        .all_nav {
            background:gray;
            span {
                display:block;
                background:#fff;
                width:30px;
                height:5px;
                border-radius:15px;
            }
            span:nth-child(2) {margin:5px 0;}
        }
    }
}